h1{
    margin-left: 500px;
    color: brown;
}

img{
    margin-left: 500px;
}

#im1{
   margin-left: 650px;
   width: 300px;
   height:240px;
}


#d1{
    margin-bottom: 50px;
    
}


#con{
    mask-border-width: 5px;
    border: 3px;
    border-color: cadetblue;
    margin-left: 700px;
    margin-top: 5px;
}
#ques
{
    color: darkviolet;
    margin-left: 500px;
    font-size: 20px;
}
#na
{
    color: darkviolet;
    font-size: 20px;
}
#em{
    color: darkviolet;
    font-size: 20px;

}
#sub{
    color: darkviolet;
    font-size: 20px;
}
#mess{
    color: darkviolet;
    font-size: 20px;
}
#ser1{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#pro{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#c1{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#c2{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#c3{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#par1{
    font-size: 50px;
    font-size: x-large;
    color: rgb(49, 73, 102);
    margin-left: 5px;
    margin-top: 30px;
    border: 4px;
    border-style: groove;

}
#myname
{
    margin-left: 720px;
    margin-top: 10px;
    color:teal;
}
#main{
    background-color: rgb(210, 193, 170);
    max-height: max-content;
}
#headi{
    margin-left: 560px;
}
#two{
    color: rgb(49, 73, 102);
    font-size: larger;
    border-style: groove;
    border-width: 2px;
    margin-top: 10px;
    
}
#four
{
    color: rgb(49, 73, 102);
    font-size: larger;
    border-style: groove;
    border-width: 2px;
    margin-top: 10px;
}
#three
{
    color: rgb(49, 73, 102);
    font-size: larger;
    border-style: groove;
    border-width: 2px;
    margin-top: 10px;
}
#mai{
    height: 700px;
    background-color: rgb(210, 193, 170);
}
#uol{
    background-color: aquamarine;
}
#cont{
    height:700px;
    background-color:  rgb(210, 193, 170);
}
#foo{
    position: relative;
}
#home{
    height: 700px;
    background-color:  rgb(210, 193, 170);
}