h1{
    margin-left: 500px;
    color: brown;
}

img{
    margin-left: 500px;
}

#im1{
   margin-left: 580px;
   width: 300px;
   height:240px;
}


#d1{
    margin-bottom: 50px;
    
}


#con{
    mask-border-width: 5px;
    border: 3px;
    border-color: cadetblue;
    margin-left: 700px;
    margin-top: 5px;
}
#ques
{
    color: darkviolet;
    margin-left: 500px;
    font-size: 20px;
}
#na
{
    color: darkviolet;
    font-size: 20px;
}
#em{
    color: darkviolet;
    font-size: 20px;

}
#sub{
    color: darkviolet;
    font-size: 20px;
}
#mess{
    color: darkviolet;
    font-size: 20px;
}
#ser1{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#pro{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#c1{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#c2{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#c3{
    margin-left: 2px;
    width: 300px;
    height:250px;
}
#par1{
    font-size: 50px;
    font-size: x-large;
    color: violet;
    margin-left: 5px;
    margin-top: 30px;
    border: 4px;
    border-style: solid;
}
#myname
{
    margin-left: 660px;
    margin-top: 10px;
    color:teal;
}