h1{
    margin-left: 500px;
    color: brown;
}
#two{
    margin-top: 50px;
    font-size: xx-large;
    color:chocolate;
    background-color: antiquewhite;
    
}
img{
    margin-left: 500px;
}
#three{
    margin-top: 400px;
    color: blue;
}
#im1{
   margin-left: 580px;
   width: 300px;
   height:240px;
}
#c1{
    margin-left: 2px;
}
#three
{
    margin-top: 50px;
    font-size: xx-large;
    color:chocolate;
    background-color: antiquewhite;   
}
#c2{
    margin-left: 2px;
}
#four{
    margin-top: 50px;
    font-size: xx-large;
    color:chocolate;
    background-color: antiquewhite; 
}
#d1{
    margin-bottom: 50px;
    
}
#c3{
    margin-left: 2px;
}
#five{
    margin-top: 50px;
    font-size: xx-large;
    color:chocolate;
    background-color: antiquewhite; 
}
#con{
    mask-border-width: 5px;
    border: 3px;
    border-color: cadetblue;
    margin-left: 700px;
    margin-top: 5px;
}
#ques
{
    color: darkviolet;
    margin-left: 500px;
    font-size: 20px;
}
#na
{
    color: darkviolet;
    font-size: 20px;
}
#em{
    color: darkviolet;
    font-size: 20px;

}
#sub{
    color: darkviolet;
    font-size: 20px;
}
#mess{
    color: darkviolet;
    font-size: 20px;
}
#ser1{
    margin-left: 2px;
    width: 300px;
    height:250px;
}